<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
	<welcome-file-list>
			<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> 


	<!-- servlet -->
	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.kk.servlet.StudentServlet</servlet-class>
	</servlet>
	
	<!-- jsp -->
	<servlet>
		<servlet-name>index</servlet-name>	
		<jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>List</servlet-name>	
		<jsp-file>/WEB-INF/jsp/list.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Add</servlet-name>	
		<jsp-file>/WEB-INF/jsp/addStudent.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>update</servlet-name>	
		<jsp-file>/WEB-INF/jsp/update.jsp</jsp-file>
	</servlet>
	
	<!-- servlet-mapping -->
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>List</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>    
 		<servlet-name>default</servlet-name>    
  		<url-pattern>*.css</url-pattern>   
	</servlet-mapping>
	<servlet-mapping>    
 		<servlet-name>default</servlet-name>    
  		<url-pattern>*.js</url-pattern>   
	</servlet-mapping>
	
</web-app>
