*{margin:0;padding:0;}
body, html
{
	margin: 0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.line
{
	background-color: black;
	border-width: 2px;
	border-color: black;
}
.header
{
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: absolute;
	background-color: rgb(38,167,148);
}

.headerLabel
{
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
}

.contentLeft
{
	position: relative;
	top:50px;
	width: 20%;
	height: auto;
	float: left;
	background-color: gray;
	box-sizing: border-box;
}

.leftNavTitle{
	padding-left: 20px;
}

.contentLeftHeader
{
	width: 100%;
	height: 60px;
	text-align: left;
	font-size: 18px;
	line-height: 60px;
	color: black;
	float: left;
}

.contentNav
{
	width: 100%;
	height: 60px;
	text-align: left;
	font-size: 18px;
	line-height: 60px;
	color: black;
	float: left;
	display: block;
}

.contentSecNav
{
	position: relative;
	width: 100%;
	height: 50px;
	text-align: left;
	font-size: 16px;
	line-height: 50px;
	color: white;
	float: left;
	background-color: #e1efff;
	display: block;
}

.contentRight
{
	position: relative;
	top:50px;
	width:80%;
	height: auto;
	float: right;
	background-color: lightgray;
	box-sizing: border-box;
}

.rightNavTitle{
	padding-left: 20px;
	padding-top: 20px;
}

.contentRightHeader
{
	width: 100%;
	height:60px;
	float: left;
	line-height: 40px;
}

.contentIframe{
	width: 100%;
	height: auto;
}
.contentRightBody
{
	width: auto;
	height: auto;
	background-color: gainsboro;
	float: left;
}

.footer
{
	width: 100%;
	height: 50px;
	color: #e1efff;
	line-height: 50px;
	letter-spacing: 1px;
	text-align: center;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: lightslategrey;
}